@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --nav-height: 64px;
    --sidebar-width: 240px;
}

html {
    font-family: 'Poppins';
}

body {
    display: flex;
    max-width: 1440px;
    margin: auto;
}

.sidebar>.logo-header,
.main>nav {
    height: var(--nav-height);
    border-bottom: solid 1px #E5E5E5;
}

/* Sidebar */
.sidebar {
    width: var(--sidebar-width);
    color: #767D87;
    font-weight: 500;
}

.sidebar>.logo-header {
    width: 100%;
    padding: calc(var(--nav-height) / 4) 60px;
}

.sidebar>.logo-header img {
    height: calc(var(--nav-height) / 2);
    cursor: pointer;
}

.sidebar>nav {
    background-color: #0100390A;
    padding: 0 16px;
    height: calc(100% - var(--nav-height));
}

.sidebar>nav>.menu>.dashboard-button {
    display: flex;
    align-items: center;
    width: fit-content;

    gap: 12px;
    margin-top: 26px;
    padding: 16px;

    border-radius: 10px;
    background-color: #50417833;
    color: #504178;

    cursor: pointer;
    transition: 0.25s;
}

.dashboard-button:hover {
    transform: scale(105%);
}

.dashboard-button:active {
    transform: scale(95%);
}

.sidebar>nav>section>h2 {
    text-transform: uppercase;
    font-size: 0.688rem;
    font-weight: 400;
    padding-top: 40px;
}

.sidebar>nav>section>ul>li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
    cursor: pointer;
}

.sidebar>nav>section>ul>li:hover {
    text-decoration: underline;
}

/* Main */

.main {
    width: calc(100% - var(--sidebar-width));
}

/* Navbar */

.main>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    padding: 16px 32px;
    font-size: 0.75rem;

    position: sticky;
    top: 0;
    z-index: 9999;
}

.main>.dashboard {
    background-color: #F6F8FA;
}

.main>nav>.search-bar {
    background-color: #0100390A;

    min-width: fit-content;
    width: 50%;
    padding: 10px 15px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-search {
    padding-left: 15px;
}

.search-bar>.fa-search,
.search-bar>input::placeholder {
    color: #abb8bf;
}


.main>nav>.nav-infos {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main>nav>.nav-infos>.logo-container {
    display: grid;
    place-items: center;
    background-color: #FFE6CC;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.main>nav>.nav-infos>.logo-container img {
    width: 16px;
}

.main>nav>.nav-infos>select {
    width: fit-content;

}

.main>nav>.nav-infos>.fa-bell {
    padding-left: 32px;
    color: #B0C3CC;
    cursor: pointer;
}

/* Dashboard */

.dashboard {
    padding: 33px 40px;
}

.dashboard>section {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 22px;
}

/* Dashboard header */
.dashboard h1 {
    font-size: 1.5rem;
}

.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    margin-top: 32px;
}

.dashboard-stats>.card {
    background-color: #fff;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    gap: 18px;
}

.dashboard-stats>.card>.logo-container {
    padding: 12px;
    border-radius: 10px;
}

.dashboard-stats>.card:nth-child(1)>.logo-container {
    background: linear-gradient(135deg, #504178 0%, #FF7B8A 100%);
}

.dashboard-stats>.card:nth-child(2)>.logo-container {
    background: linear-gradient(135deg, #42BA17 0%, #9FF182 100%);
}

.dashboard-stats>.card:nth-child(3)>.logo-container {
    background: linear-gradient(135deg, #5A6ACF 0%, #FF7B8A 100%);
}

.dashboard-stats>.card:nth-child(4)>.logo-container {
    background: linear-gradient(135deg, #D32136 0%, #FF7B8A 100%);
}

.dashboard-stats>.card>.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    white-space: nowrap;
}

.dashboard-stats>.card>.card-text>.number>span {
    font-size: 0.75rem;
    color: #149D52;
    display: inline-flex;
    padding-left: 4px;
    gap: 4px;
}

.dashboard-stats>.card>.card-text>.number {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1F384C;
}

.dashboard-stats>.card>.card-text>.name {
    color: #80809C;
}

/* Dashboard Section 1 Statistik Pemesanan */

.statistic-section {
    display: flex;
}

.statistic-section>.chart-section {
    padding: 15px 36px;
    /* width: 742px; */
    flex-grow: 1;
}

/* Stat section header */

.statistic-section>.chart-section>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.statistic-section h2 {
    color: #1F384C;
    font-size: 1.125rem;
    font-weight: 600;
}

.statistic-section>.chart-section>header>p {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 25px;

    color: #504178;
    font-size: 0.875rem;

    border: solid 1px #00000033;
    border-radius: 10px;
}

/* Stat section chart */

.full-chart {
    display: flex;
    margin-top: 28px;

    color: #939393;
    font-weight: 600;
    font-size: 0.75rem;
}

.full-chart .statistic-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 36px;
}

.full-chart .monthly-bars {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    gap: 4px;
}

.full-chart .monthly-bars {
    padding-left: 12px;

}

.full-chart .month {
    height: 36px;
    display: grid;
    place-items: center;
}

.full-chart .empty-bar {
    position: relative;
    width: 100%;
    background-color: #EDE7FD;
    height: 380px;
}

.full-chart .fill-bar {
    position: absolute;
    background-color: #504178;
    bottom: 0;
    width: 100%;
}

/* This should be done dynamically (filling bar with %) */

.chart-bar:nth-child(1)>.empty-bar>.fill-bar {
    height: 78%;
}

.chart-bar:nth-child(2)>.empty-bar>.fill-bar,
.chart-bar:nth-child(5)>.empty-bar>.fill-bar {
    height: 50%;
}

.chart-bar:nth-child(3)>.empty-bar>.fill-bar {
    height: 63%;
}

.chart-bar:nth-child(4)>.empty-bar>.fill-bar {
    height: 28%;
}

.chart-bar:nth-child(6)>.empty-bar>.fill-bar,
.chart-bar:nth-child(9)>.empty-bar>.fill-bar {
    height: 70%;
}

.chart-bar:nth-child(7)>.empty-bar>.fill-bar {
    height: 39%;
}

.chart-bar:nth-child(8)>.empty-bar>.fill-bar {
    height: 90%;
}

.chart-bar:nth-child(10)>.empty-bar>.fill-bar {
    height: 55%;
}

.chart-bar:nth-child(11)>.empty-bar>.fill-bar {
    height: 83%;
}

.chart-bar:nth-child(12)>.empty-bar>.fill-bar {
    height: 68%;
}

.statistic-section>hr {
    margin: 30px 0;
}

/* Customer part in statistik section */

.customer-section {
    padding: 24px;
}

.customer-section>h2 {
    padding-bottom: 25px;
}

.customer-section>.customer-list {
    display: grid;
    gap: 14px;
}

.customer-section>.customer-list>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 0.9rem;
}

.customer-section>.customer-list>li>.customer-name {
    color: #273240;
}

.customer-section>.customer-list>li>.customer-number {
    color: #68707A;
    min-width: 27px;
}

/* Overview Section */

.overview>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 17px 0;
    width: 95%;
}

.overview>header>h2 {
    font-size: 1.1rem;
    font-weight: 600;
}

.overview>header>input {
    background-color: #F6F8FA;
    width: 198px;
    padding: 13px;
    border-radius: 10px;

    font-weight: 400;
}

.overview>header>input::placeholder {
    color: #B0B0B0;
}

.overview-table {
    width: 95%;
    margin: auto;

    font-size: 0.9rem;
    white-space: nowrap;
}

.overview-table thead {
    background-color: #F3F6F9;
    font-weight: 600;
}

/* css doesn't allow to style the border radius of tr for some reason */
.overview-table thead>tr>th:first-child {
    border-radius: 6px 0 0 6px;
}

.overview-table thead>tr>th:last-child {
    border-radius: 0 6px 6px 0;
}

.overview-table th,
.overview-table td {
    padding: 14px 0;
    text-align: left;
}

.overview-table tr>*:first-child {
    padding: 14px;
}

.overview-table tr>*:last-child {
    padding-right: 14px;
}

.overview-table th:nth-child(1),
.overview-table td:nth-child(1) {
    width: 5%;
}

.overview-table th:nth-child(2),
.overview-table td:nth-child(2) {
    width: 30%;
}

.overview-table th:nth-child(3),
.overview-table td:nth-child(3),
.overview-table th:nth-child(4),
.overview-table td:nth-child(4) {
    width: 20%;
}

.overview-table th:nth-child(5),
.overview-table td:nth-child(5) {
    width: 25%;
}

.overview-table tr:nth-child(even) {
    background-color: #F3F6F980;
}

/* Pagination */

footer {
    display: flex;
    justify-content: flex-end;

    font-size: 0.9rem;
    font-weight: 600;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 6px;
}

.pagination>.page-list {
    display: flex;
    gap: 6px;
}

.pagination>.page-list>li {
    background-color: #FFFFFF;
    color: #BCBCBC;

    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    border-radius: 6px;
}

.pagination>div {
    width: 64px;
    height: 64px;
    display: grid;
    place-content: center;
}

.pagination>div,
.page-list>li {
    cursor: pointer;
    transition: 0.25s;
}

.pagination>div:hover,
.page-list>li:hover {
    transform: scale(1.2);
}

.pagination>.page-list>.actual-page {
    background-color: #504178;
    color: #fff;
}

.no-more-page {
    color: #86868C;
}


@media screen and (max-width: 1024px) {
    .statistic-section {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }

    .main {
        width: 100%;
    }
}